*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    transition: color .3s ease-in-out;
}

ul,
li {
    list-style: none;
}

img {
    vertical-align: top;
    width: 100%;
}

._container {
    max-width: 866px;
    margin: 0 auto;
    width: 100%;
    padding: 0 10px;
}

html {
    font-size: 62.5%;
    font-family: 'heebo', 'Arial', sans-serif;
    scroll-behavior: smooth;
}

body {
    font-weight: 400;
    color: #2124D;
}

.block-title {
    font-size: 2.2rem;
}

.main {
    margin-top: 136px;
}

/********************************************************/

.header__content {
    max-width: 1052px;
    font-weight: 500;
    font-size: 2rem;
    max-height: 92px;
    margin: 0 auto;
    padding: 10px;
    width: 100%;
}

.menu {
    display: flex;
    justify-content: flex-end;
    height: 82px;
    align-items: center;
}

.menu__icon {
    display: none;
}

.menu__item:not(:last-of-type) {
    margin-right: 33px;
}

.menu__link {
    color: #000;
}

.menu__link:hover {
    color: #FF464;
}

.menu__link:active {
    text-decoration: underline;
}

.menu__list {
    display: flex;
}

/********************************************************/

.introduction {
    display: flex;
    align-items: center;
    margin-bottom: 71px;
}

.introduction__title {
    font-size: 4.4rem;
    font-weight: 700;
    margin-bottom: 30px;
    line-height: 145%;
    transform: translate(0, 120%);
    opacity: 0;
    transition: transform .6s ease-in-out;
}

.introduction__title._active {
    transform: translate(0, 0);
    opacity: 1;
}

.introduction__text {
    font-size: 1.6rem;
    margin-bottom: 40px;
    transform: translate(0, 120%);
    opacity: 0;
    transition: all .6s ease-in-out .4s;
}

.introduction__text._active,
.introduction__btn._active {
    transform: translate(0, 0);
    opacity: 1;
}

.introduction__btn {
    font-weight: 500;
    font-size: 2rem;
    padding: 17px 20px;
    background-color: #FF464;
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    transform: translate(0, 120%);
    opacity: 0;
    transition: all .6s ease-in-out .8s;
}

.introduction__btn:hover {
    background-color: #bb3939;
}

.introduction__desc {
    margin-right: 110px;
}

.introduction__avatar-container {
    flex: 0 0 243px;
    max-height: 243px;
    border-radius: 50%;
    box-shadow: -5px 13px 0px 0px #EDF7FA;
}

/********************************************************/

.posts {
    background-color: #EDF7FA;
    margin-bottom: 35px;
    padding-bottom: 32px;
}

.posts__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 27px;
    padding-bottom: 22px;
}

.posts__view-all {
    font-size: 1.6rem;
    color: #00A8CC;
}

.posts__view-all:hover {
    color: #0b6d83;
}

.posts__items {
    display: flex;
}

.post__header {
    font-size: 2.6rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.post__info {
    display: flex;
    margin-bottom: 21px;
}

.post__date {
    padding-right: 27px;
    border-right: 1px solid #000;
    font-size: 1.8rem;
    line-height: 1;
}

.post__topic {
    padding-left: 27px;
    font-size: 1.8rem;
    line-height: 1;
}

.post__text {
    font-size: 1.6rem;
}

.posts__column:not(:last-of-type) {
    margin-right: 20px;
}

.posts__item {
    padding: 24px 46px 35px 23px;
    background-color: #fff;
    border-radius: 7px;
}

/********************************************************/

.work {
    display: flex;
    align-items: center;
}

.works {
    margin-bottom: 86px;
}

.works__row {
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 15px;
}

.works__row:not(:first-of-type) {
    padding-top: 15px;
}

.works__header {
    margin-bottom: 44px;
}

.work__img {
    flex: 0 0 246px;
    margin-right: 18px;
}

.work__title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.work__info {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.work__year {
    margin-right: 30px;
    color: white;
    background-color: #142850;
    padding: 7px 10px;
    border-radius: 20px;
    font-size: 1.8rem;
    font-weight: 900;
    line-height: 1;
}

.work__topic {
    font-size: 2rem;
    color: #8695A4;
}

.work__text {
    font-size: 1.6rem;
}

/********************************************************/

.contacts__items {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 26px;
}

.contacts__link:not(:last-of-type) {
    margin-right: 35px;
}

.contacts__info {
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 54px;
}

.contacts__link-logo {
    display: block;
    transition: transform .3s ease-in-out;
}

.contacts__link-logo:hover {
    transform: translateY(7px);
}

/********************************************************/

.slider {
    display: flex;
    align-items: center;
}

.slider__btn,
.main__scroll-top-btn {
    padding: 15px 20px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #fff;
}

.slider__btn {
    display: none;
    border: 1px solid #8695A4;
}

.slider__btn_prev {
    margin-right: 5px;
}

.slider__btn_next {
    margin-left: 5px;
}

.fa-solid {
    font-size: 1.8rem;
    color: #434547;
}

/********************************************************/

.main__scroll-top-btn {
    border: 1px solid #142850;
    margin-left: 5%;
    position: fixed;
    bottom: 150px;
    z-index: 20;
    opacity: 0;
    transition: all .4s ease-in-out;
}

.main__scroll-top-btn._active {
    opacity: 1;
}

.fa-angle-up {
    font-size: 3rem;
    color: #142850;
}

/********************************************************/

@media (max-width: 1129px) {
    .main__scroll-top-btn {
        margin-left: 1%;
    }
}

@media (max-width: 649px) {

    .works__slider-wrapper {
        display: flex;
        align-items: center;
    }

    .slider__btn {
        display: block;
    }

    .slider {
        max-width: 500px;
        margin: 0 auto;
        max-height: 600px;
        overflow: hidden;
    }

    .introduction {
        flex-direction: column-reverse;
    }

    .introduction__avatar-container {
        max-width: 243px;
        margin-bottom: 35px;
    }

    .introduction__desc {
        text-align: center;
        margin: 0 auto;
    }

    .works__item {
        flex-direction: column;
        max-width: 500px;
    }

    .work__img {
        max-height: 270px;
        margin-right: 0;
        margin-bottom: 17px;
        min-width: 246px;
    }

    .works__items {
        display: flex;
        transition: all .7s ease-in-out;
    }

    .works__row:not(:first-of-type) {
        padding-top: 0;
    }

    .main {
        margin-top: 75px;
    }
}

@media (max-width: 610px) {
    .posts__items {
        flex-direction: column;
    }

    .posts__item {
        margin-bottom: 15px;
    }

    .posts__column:not(:last-of-type) {
        margin-right: 0;
    }

    .main__scroll-top-btn {
        padding: 10px 15px;
    }

}

@media (max-width: 429px) {

    .menu {
        align-items: unset;
    }

    .main {
        margin-top: 35px;
    }

    .header {
        max-height: 82px;
    }

    .menu__icon {
        display: block;
        position: relative;
        right: 10px;
        width: 30px;
        height: 18px;
        cursor: pointer;
        z-index: 5;
        padding: 20px;
    }

    span,
    span::before,
    span::after {
        display: block;
        position: absolute;
        width: 100%;
        max-width: 30px;
        height: 2px;
        background-color: black;
        transition: all .3s ease-in-out;
    }

    span::before {
        content: '';
        top: -8px;
    }

    span::after {
        content: '';
        top: 8px;
    }

    .menu__icon._active>span {
        transform: rotate(45deg);
    }

    .menu__icon._active>span:before {
        top: 0;
        transform: rotate(0deg);
    }

    .menu__icon._active>span:after {
        top: 0;
        transform: rotate(90deg);
    }

    .menu__body {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        padding: 150px 10px 30px;
        display: flex;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.8);
        transform: translate(0, -100%);
        transition: transform .8s ease-in-out;
    }

    .menu__body._active {
        transform: translate(0, 0%);
    }

    .menu__list {
        display: block;
    }

    .menu__item {
        margin-bottom: 30px;
        line-height: 1;
    }

    .menu__link {
        font-size: 4rem;
        display: block;
    }
}

@media (max-width: 377px) {
    /* .works__row:not(:last-of-type) {
        margin-right: 5px;
    } */

    .slider__btn {
        padding: 7px 12px;
    }

    .work__img {
        min-width: auto;
    }

    .slider {
        max-height: none;
    }
}